In [1]:
import nasdaqdatalink
import psycopg2
import dask.dataframe as dd
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from sqlalchemy import create_engine
from psycopg2 import sql, errors
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

C:\Users\mawul\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (2.2.1) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [27]:
nasdaqdatalink.ApiConfig.api_key = "apikey"
nasdaqdatalink.export_table('QDL/JODI', energy = 'OIL', date = {'gte':'2015-01-01'})

In [5]:
nasdaqdatalink.ApiConfig.api_key = "apikey"
nasdaqdatalink.export_table('QDL/JODI', energy = 'GAS')
#Monthly_Oil_Energy_Data = nasdaqdatalink.export_table('QDL/JODI', energy = 'OIL')

In [3]:
def split_into_chunks(x):
    return [x[i:i+2] for i in range(0,len(x),2)]



def Process_Large_CSV(csv_file,k):
    
   
    chunk_size = k
    chunks = pd.read_csv(csv_file, chunksize = chunk_size)
    dataframes = []
    
    for chunk in chunks:
        chunk_split = chunk['code'].apply(lambda x:pd.Series(split_into_chunks(x)))
        if len(chunk_split.columns) == 3:
            chunk_split.columns = ['product_code', 'flow_code', 'Units']
        if len(chunk_split.columns) ==2:
            chunk_split.columns = ['product_code', 'flow_code']
        chunk = pd.concat([chunk,chunk_split], axis = 1).drop(columns = 'code')
        dataframes.append(chunk)
        
    df = pd.concat(dataframes, ignore_index = True)
    
    return df

In [5]:
Monthly_Oil_Energy_Data = Process_Large_CSV('QDL_JODI_OIL.csv',100000)

In [4]:
Monthly_Gas_Energy_Data = Process_Large_CSV('QDL_JODI_GAS.csv',50000)
Monthly_Gas_Energy_Data

       energy country        date  value  notes product_code flow_code
0         GAS     VNM  2023-02-28    0.0      3           GL        LI
1         GAS     VNM  2023-01-31    0.0      3           GL        LI
2         GAS     VNM  2022-12-31    0.0      3           GL        LI
3         GAS     VNM  2022-11-30    0.0      3           GL        LI
4         GAS     VNM  2022-10-31    0.0      3           GL        LI
...       ...     ...         ...    ...    ...          ...       ...
263269    GAS     ARE  2015-05-31  682.0      2           GC        LE
263270    GAS     ARE  2015-04-30  432.0      2           GC        LE
263271    GAS     ARE  2015-03-31  654.0      2           GC        LE
263272    GAS     ARE  2015-02-28  572.0      2           GC        LE
263273    GAS     ARE  2015-01-31  757.0      2           GC        LE

[263274 rows x 7 columns]

In [6]:
Monthly_Oil_Energy_Data

,energy,country,date,value,notes,product_code,flow_code,Units
0,OIL,ARE,2015-01-31,7596.0000,3,CR,CS,BK
1,OIL,ARE,2015-01-31,0.0000,3,CR,CS,KB
2,OIL,ARE,2015-01-31,x,3,CR,CS,KD
3,OIL,ARE,2015-01-31,0.0000,3,CR,CS,KL
4,OIL,ARE,2015-01-31,0.0000,3,CR,CS,KT
...,...,...,...,...,...,...,...,...
8227045,OIL,ZAF,2024-03-31,7615.0000,3,TP,IM,BK
8227046,OIL,ZAF,2024-03-31,0.0000,3,TP,IM,KB
8227047,OIL,ZAF,2024-03-31,0.0000,3,TP,IM,KD
8227048,OIL,ZAF,2024-03-31,0.0000,3,TP,IM,KL
8227049,OIL,ZAF,2024-03-31,0.0000,3,TP,IM,KT

In [7]:
Monthly_Oil_Energy_Data.dtypes

energy          object
country         object
date            object
value           object
notes            int64
product_code    object
flow_code       object
Units           object
dtype: object

In [8]:
def convert_data_type(df, col_name):
    df[col_name] = pd.to_numeric(df[col_name], errors = 'coerce')
    return df

In [9]:
convert_data_type(Monthly_Gas_Energy_Data, 'value')

       energy country        date  value  notes product_code flow_code
0         GAS     VNM  2023-02-28    0.0      3           GL        LI
1         GAS     VNM  2023-01-31    0.0      3           GL        LI
2         GAS     VNM  2022-12-31    0.0      3           GL        LI
3         GAS     VNM  2022-11-30    0.0      3           GL        LI
4         GAS     VNM  2022-10-31    0.0      3           GL        LI
...       ...     ...         ...    ...    ...          ...       ...
263269    GAS     ARE  2015-05-31  682.0      2           GC        LE
263270    GAS     ARE  2015-04-30  432.0      2           GC        LE
263271    GAS     ARE  2015-03-31  654.0      2           GC        LE
263272    GAS     ARE  2015-02-28  572.0      2           GC        LE
263273    GAS     ARE  2015-01-31  757.0      2           GC        LE

[263274 rows x 7 columns]

In [10]:
Monthly_Oil_Energy_Data.dtypes

energy          object
country         object
date            object
value           object
notes            int64
product_code    object
flow_code       object
Units           object
dtype: object

In [11]:
convert_data_type(Monthly_Oil_Energy_Data, 'value')

        energy country        date   value  notes product_code flow_code Units
0          OIL     ARE  2015-01-31  7596.0      3           CR        CS    BK
1          OIL     ARE  2015-01-31     0.0      3           CR        CS    KB
2          OIL     ARE  2015-01-31     NaN      3           CR        CS    KD
3          OIL     ARE  2015-01-31     0.0      3           CR        CS    KL
4          OIL     ARE  2015-01-31     0.0      3           CR        CS    KT
...        ...     ...         ...     ...    ...          ...       ...   ...
8227045    OIL     ZAF  2024-03-31  7615.0      3           TP        IM    BK
8227046    OIL     ZAF  2024-03-31     0.0      3           TP        IM    KB
8227047    OIL     ZAF  2024-03-31     0.0      3           TP        IM    KD
8227048    OIL     ZAF  2024-03-31     0.0      3           TP        IM    KL
8227049    OIL     ZAF  2024-03-31     0.0      3           TP        IM    KT

[8227050 rows x 8 columns]

In [12]:
Monthly_Oil_Energy_Data = Monthly_Oil_Energy_Data.rename(columns = {'country':'country_code'})

In [13]:
Monthly_Oil_Energy_Data = Monthly_Oil_Energy_Data.drop(columns = 'notes')
Monthly_Oil_Energy_Data.head()

  energy country_code        date   value product_code flow_code Units
0    OIL          ARE  2015-01-31  7596.0           CR        CS    BK
1    OIL          ARE  2015-01-31     0.0           CR        CS    KB
2    OIL          ARE  2015-01-31     NaN           CR        CS    KD
3    OIL          ARE  2015-01-31     0.0           CR        CS    KL
4    OIL          ARE  2015-01-31     0.0           CR        CS    KT

In [14]:
Monthly_Gas_Energy_Data = Monthly_Gas_Energy_Data.rename(columns = {'country':'country_code'})
Monthly_Gas_Energy_Data = Monthly_Gas_Energy_Data.drop(columns = 'notes')
Monthly_Gas_Energy_Data.head()

  energy country_code        date  value product_code flow_code
0    GAS          VNM  2023-02-28    0.0           GL        LI
1    GAS          VNM  2023-01-31    0.0           GL        LI
2    GAS          VNM  2022-12-31    0.0           GL        LI
3    GAS          VNM  2022-11-30    0.0           GL        LI
4    GAS          VNM  2022-10-31    0.0           GL        LI

In [15]:
def scrape_all_tables_with_selenium(url, api_key=None):
    #Path to chromedriver.exe
    chromedriver_path = 'C:\\Users\\mawul\\Downloads\\chromedriver-win64\\chromedriver-win64\\chromedriver.exe'
    
    #Setup Chromedriver service 
    service = Service(chromedriver_path)
    options = webdriver.ChromeOptions()
    options.add_argument('--headless')
    driver = webdriver.Chrome(service=service, options=options)
    
    
    #Append api key to URL if required:
    if api_key:
        url = f"{url}?api_key={api_key}"
    
    driver.get(url)
    
    #Wait for the tables to be rendered 
    
    try:
        tables = WebDriverWait(driver,10).until(
        EC.presence_of_all_elements_located((By.TAG_NAME,"table")))
    
    except:
        driver.quit()
        raise Exception("Tables not found on the webpage")
    
    dataframes = []
    
    #Extract Data from each table 
    
    for index,table in enumerate(tables):
        
        #Extract Table Headers
        
        headers = []
        
        for th in table.find_elements(By.TAG_NAME, "th"):
            headers.append(th.text.strip())
            
        #Extract Table Rows 
        rows = []
        for tr in table.find_elements(By.TAG_NAME, "tr"):
            cells = tr.find_elements(By.TAG_NAME, "td")
            row = [cell.text.strip() for cell in cells]
            if row:
                rows.append(row)
                
        if headers:
            df = pd.DataFrame(rows, columns= headers)
        else:
            df = pd.DataFrame(rows)
        dataframes.append(df)
        
    driver.quit()
    
    return dataframes

In [16]:
url = "https://data.nasdaq.com/databases/JODI#quick-start-examples"
api_key = "7sH6WTx2ZJ8AV6vM9eY2"

In [17]:
result = scrape_all_tables_with_selenium(url,api_key)

In [18]:
print(type(result))

<class 'list'>

In [19]:
print(len(result))

10

In [20]:
table_dict = {}
for index,table in enumerate(result):
    col_name = table.columns
    table_dict[index]= col_name
print(table_dict)

{0: Index(['TABLE', 'TABLE CODE', ''], dtype='object'), 1: Index(['COLUMN', 'DESCRIPTION', '', '', ''], dtype='object'), 2: Index(['PRODUCT NAME', 'CODE'], dtype='object'), 3: Index(['PRODUCT NAME', 'CODE'], dtype='object'), 4: Index(['FLOW NAME', 'CODE'], dtype='object'), 5: Index(['FLOW NAME', 'CODE'], dtype='object'), 6: Index(['UNIT NAME', 'CODE'], dtype='object'), 7: Index(['PRODUCT NAME', 'CODE'], dtype='object'), 8: Index(['FLOW NAME', 'CODE'], dtype='object'), 9: Index(['COUNTRY', 'CODE'], dtype='object')}

In [21]:
dataframes = {
    'Oil_Primary_Products': pd.DataFrame(),
    'Oil_Secondary_Products': pd.DataFrame(),
    'Oil_Primary_Flows': pd.DataFrame(),
    'Oil_Secondary_Flows': pd.DataFrame(),
    'Oil_Units': pd.DataFrame(),
    'Gas_Products': pd.DataFrame(),
    'Gas_Flows': pd.DataFrame(),
    'Countries': pd.DataFrame()
}

# Assign tables to DataFrames in the dictionary
for index, name in enumerate(dataframes.keys()):
    dataframes[name] = result[index+2]

# Access the DataFrames from the dictionary
Oil_Primary_Products = dataframes['Oil_Primary_Products']
Oil_Secondary_Products = dataframes['Oil_Secondary_Products']
Oil_Primary_Flows = dataframes['Oil_Primary_Flows']
Oil_Secondary_Flows = dataframes['Oil_Secondary_Flows']
Oil_Units = dataframes['Oil_Units']
Gas_Products = dataframes['Gas_Products']
Gas_Flows = dataframes['Gas_Flows']
Countries = dataframes['Countries']

# Print the DataFrames to verify
print("Oil_Primary_Products:")
print(Oil_Primary_Products)
print("\nOil_Secondary_Products:")
print(Oil_Secondary_Products)
print("\nOil_Primary_Flows:")
print(Oil_Primary_Flows)
print("\nOil_Secondary_Flows:")
print(Oil_Secondary_Flows)
print("\nOil_Units:")
print(Oil_Units)
print("\nGas_Products:")
print(Gas_Products)
print("\nGas_Flows:")
print(Gas_Flows)
print("\nCountries:")
print(Countries)

Oil_Primary_Products:
                                        PRODUCT NAME CODE
0                                          Crude oil   CR
1                                                NGL   NG
2  Other (refinery feedstocks + additives/oxygena...   OC
3                           Total (primary products)   TC

Oil_Secondary_Products:
                  PRODUCT NAME CODE
0    Liquefied petroleum gases   LP
1                      Naphtha   NA
2  Motor and aviation gasoline   GS
3                    Kerosenes   KE
4       Kerosene type jet fuel   JT
5               Gas/diesel oil   GD
6                     Fuel oil   RS
7           Other oil products   ON
8           Total oil products   TP

Oil_Primary_Flows:
                        FLOW NAME CODE
0                      Production   PR
1              From other sources   OS
2                         Imports   IM
3                         Exports   EX
4  Products transferred/Backflows   PT
5                      Direct use   DU
6                    Stock change   SC
7          Statistical difference   SD
8                 Refinery intake   RI
9                  Closing stocks   CS

Oil_Secondary_Flows:
                FLOW NAME CODE
0         Refinery output   RO
1                Receipts   RE
2                 Imports   IM
3                 Exports   EX
4    Products transferred   PT
5  Interproduct transfers   IT
6            Stock change   SC
7  Statistical difference   SD
8                  Demand   DE
9          Closing stocks   CS

Oil_Units:
                         UNIT NAME CODE
0  Thousand Barrels per day (kb/d)   KD
1          Thousand Barrels (kbbl)   KB
2         Thousand Kilolitres (kl)   KL
3       Thousand Metric Tons (kmt)   KT
4  Conversion factor barrels/ktons   BK

Gas_Products:
                          PRODUCT NAME CODE
0   Natural Gas (Million Cubic Meters)   GC
1             Natural Gas (Terajoules)   GT
2  Natural Gas LNG ( 1000 Metric Tons)   GL

Gas_Flows:
                               FLOW NAME CODE
0                             Production   PR
1            Receipts from Other Sources   OS
2                      Total Imports LNG   TI
3                           LNG (import)   LI
4         Total Imports through Pipeline   PI
5                      Total Exports LNG   TE
6                           LNG (export)   LE
7         Total Exports through Pipeline   PE
8                           Stock Change   SE
9   Gross Inland Deliveries (Calculated)   DC
10                Statistical Difference   SD
11    Gross Inland Deliveries (Observed)   DO
12       Electricity and Heat Generation   EH
13                        Closing Stocks   CS

Countries:
           COUNTRY CODE
0          Algeria  DZA
1           Angola  AGO
2        Argentina  ARG
3        Australia  AUS
4          Austria  AUT
..             ...  ...
102        Uruguay  URY
103  United States  USA
104      Venezuela  VEN
105       Viet Nam  VNM
106          Yemen  YEM

[107 rows x 2 columns]

In [22]:
Oil_Products = Oil_Primary_Products.append(Oil_Secondary_Products, ignore_index = True)
Oil_Products= Oil_Products.rename(columns = {'PRODUCT NAME':'product_name', 'CODE': 'product_code'})

In [23]:
Oil_Flows = pd.concat([Oil_Primary_Flows, Oil_Secondary_Flows])
Oil_Flows = Oil_Flows.drop_duplicates().reset_index(drop = True)
Oil_Flows = Oil_Flows.rename(columns = {'FLOW NAME': 'flow_name', 'CODE':'flow_code'})
Oil_Flows

                         flow_name flow_code
0                       Production        PR
1               From other sources        OS
2                          Imports        IM
3                          Exports        EX
4   Products transferred/Backflows        PT
5                       Direct use        DU
6                     Stock change        SC
7           Statistical difference        SD
8                  Refinery intake        RI
9                   Closing stocks        CS
10                 Refinery output        RO
11                        Receipts        RE
12            Products transferred        PT
13          Interproduct transfers        IT
14                          Demand        DE

In [24]:
Oil_Units = Oil_Units.rename(columns = {'UNIT NAME': 'unit_name', 'CODE': 'unit_code'})

In [25]:
Oil_Units

                         unit_name unit_code
0  Thousand Barrels per day (kb/d)        KD
1          Thousand Barrels (kbbl)        KB
2         Thousand Kilolitres (kl)        KL
3       Thousand Metric Tons (kmt)        KT
4  Conversion factor barrels/ktons        BK

In [26]:
Gas_Products = Gas_Products.rename(columns = {'PRODUCT NAME':'product_name', 'CODE': 'product_code'})
Gas_Flows = Gas_Flows.rename(columns = {'FLOW NAME': 'flow_name', 'CODE':'flow_code'})

In [27]:
Countries = Countries.rename(columns= {'COUNTRY': 'country','CODE':'country_code'})

In [28]:
Countries

           country country_code
0          Algeria          DZA
1           Angola          AGO
2        Argentina          ARG
3        Australia          AUS
4          Austria          AUT
..             ...          ...
102        Uruguay          URY
103  United States          USA
104      Venezuela          VEN
105       Viet Nam          VNM
106          Yemen          YEM

[107 rows x 2 columns]

In [29]:
data_frames = {
    'Oil': Monthly_Oil_Energy_Data,
    'Gas' : Monthly_Gas_Energy_Data,
    'Oil_Flows':Oil_Flows,
    'Oil_Products':Oil_Products, 
    'Oil_Units' : Oil_Units, 
    'Gas_Flows':Gas_Flows, 
    'Gas_Products': Gas_Products, 
    'Countries': Countries
}

In [31]:
def database_exists(conn, db_name):
    curr = conn.cursor()
    curr.execute("SELECT 1 FROM pg_database WHERE datname = %s", (db_name,))
    exists = curr.fetchone() is not None
    curr.close()
    return exists

def create_database(conn, db_name):
    conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
    curr = conn.cursor()
    try:
        curr.execute(sql.SQL("CREATE DATABASE {}").format(sql.Identifier(db_name)))
    except errors.DuplicateDatabase:
        print(f"Database '{db_name}' already exists.")
    finally:
        curr.close()

def create_schema(conn):
    curr = conn.cursor()
    curr.execute("CREATE SCHEMA IF NOT EXISTS OilAndGas;")
    conn.commit()
    curr.close()

def create_tables(conn):
    curr = conn.cursor()
    curr.execute("""
        CREATE TABLE IF NOT EXISTS OilAndGas.Countries(
            country TEXT,
            country_code TEXT PRIMARY KEY
        );

        CREATE TABLE IF NOT EXISTS OilAndGas.Oil (
            energy TEXT,
            country_code TEXT, 
            date DATE, 
            value NUMERIC,
            product_code TEXT,
            flow_code TEXT, 
            units TEXT,
            PRIMARY KEY (country_code, date, product_code, flow_code),
            FOREIGN KEY (country_code) REFERENCES OilAndGas.Countries(country_code)
        );
        
        CREATE TABLE IF NOT EXISTS OilAndGas.Oil_Products (
            product_name TEXT,
            product_code TEXT PRIMARY KEY
        );
        
        CREATE TABLE IF NOT EXISTS OilAndGas.Oil_Flows (
            flow_name TEXT,
            flow_code TEXT PRIMARY KEY
        );
        
        CREATE TABLE IF NOT EXISTS OilAndGas.Oil_Units (
            unit_name TEXT, 
            unit_code TEXT PRIMARY KEY
        );

        CREATE TABLE IF NOT EXISTS OilAndGas.Gas (
            energy TEXT,
            country_code TEXT, 
            date DATE, 
            value NUMERIC,
            product_code TEXT,
            flow_code TEXT,
            PRIMARY KEY (country_code, date, product_code, flow_code),
            FOREIGN KEY (country_code) REFERENCES OilAndGas.Countries(country_code)
        );

        CREATE TABLE IF NOT EXISTS OilAndGas.Gas_Products(
            product_name TEXT,
            product_code TEXT PRIMARY KEY
        );

        CREATE TABLE IF NOT EXISTS OilAndGas.Gas_Flows(
            flow_name TEXT,
            flow_code TEXT PRIMARY KEY
        );
    """)
    conn.commit()
    curr.close()

def add_constraints(conn):
    curr = conn.cursor()
    constraints = [
        ("OilAndGas.Oil", "fk_product_code", "FOREIGN KEY (product_code) REFERENCES OilAndGas.Oil_Products(product_code)"),
        ("OilAndGas.Oil", "fk_flow_code", "FOREIGN KEY (flow_code) REFERENCES OilAndGas.Oil_Flows(flow_code)"),
        ("OilAndGas.Oil", "fk_units", "FOREIGN KEY (units) REFERENCES OilAndGas.Oil_Units(unit_code)"),
        ("OilAndGas.Gas", "fk_product_code_gas", "FOREIGN KEY (product_code) REFERENCES OilAndGas.Gas_Products(product_code)"),
        ("OilAndGas.Gas", "fk_flow_code_gas", "FOREIGN KEY (flow_code) REFERENCES OilAndGas.Gas_Flows(flow_code)")
    ]
    
    for table, constraint_name, constraint_def in constraints:
        try:
            curr.execute(sql.SQL(f"""
                DO $$
                BEGIN
                    IF NOT EXISTS (
                        SELECT 1 
                        FROM pg_constraint 
                        WHERE conname = %s 
                    ) THEN
                        ALTER TABLE {table} ADD CONSTRAINT {constraint_name} {constraint_def};
                    END IF;
                END
                $$;
            """), [constraint_name])
        except Exception as e:
            print(f"Error adding constraint {constraint_name} to {table}: {e}")

    conn.commit()
    curr.close()
    
def insert_data_in_batches(df, engine, table_name, schema, batch_size=1000):
    total_rows = len(df)
    for start in range(0, total_rows, batch_size):
        end = min(start + batch_size, total_rows)
        batch = df.iloc[start:end]
        batch.to_sql(table_name, engine, schema=schema, if_exists='append', index=False)

def insert_data_into_postgresql(data_frames, conn):
    engine = create_engine('postgresql://postgres:password@localhost:5432/GlobalOilAndGas')
    for name, df in data_frames.items():
        insert_data_in_batches(df, engine, name, schema='OilAndGas', batch_size=1000)

def main():
    user = 'postgres'
    password = 'password'
    host = 'localhost'
    port = '5432'
    database = 'postgres'
    target_db = 'GlobalOilAndGas'
    
    conn = psycopg2.connect(dbname=database, user=user, password=password, host=host, port=port)
    
    if not database_exists(conn, target_db):
        create_database(conn, target_db)
    
    conn.close()
    
    conn = psycopg2.connect(dbname=target_db, user=user, password=password, host=host, port=port)
    
    create_schema(conn)
    create_tables(conn)
    add_constraints(conn)
    
    
    insert_data_into_postgresql(data_frames, conn)
    
    conn.close()

if __name__ == "__main__":
    main()